@import "../../styles/variables";

.spinner {
  width: 48px;
  height: 48px;
  border: 8px solid;
  border-color: $primary transparent $primary transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}