@import "../../../styles/variables";

.repo{
  flex-basis: 30%;
  width: 100%;
  min-width: 280px;
  margin: 1.5rem 0.5rem;
  padding: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1.5rem;
  @media screen and (max-width: 600px) {
    min-width: 100%;
  }
  h4{
    color: $primary;
  }
}

.divider{
  border: 1px solid rgba(255, 255, 255, .025);
}